Source/FikaAmazonAPI/ConstructFeed/xsd/Sports.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:include schemaLocation="amzn-base.xsd"/>
    <xsd:element name="Sports">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="ProductType">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="SportingGoods"/>
                            <xsd:enumeration value="GolfClubHybrid"/>
                            <xsd:enumeration value="GolfClubIron"/>
                            <xsd:enumeration value="GolfClubPutter"/>
                            <xsd:enumeration value="GolfClubWedge"/>
                            <xsd:enumeration value="GolfClubWood"/>
                            <xsd:enumeration value="GolfClubs"/>
                            <xsd:enumeration value="SportGloves"/>
                            <xsd:enumeration value="Tent"/>
                            <xsd:enumeration value="BiometricMonitor"/>
                            <xsd:enumeration value="FishingLine"/>
                            <xsd:enumeration value="StationaryBicycle"/>
                            <xsd:enumeration value="BicycleTrainer"/>
                            <xsd:enumeration value="Skateboard"/>
                            <xsd:enumeration value="Treadmill"/>
                            <xsd:enumeration value="FitnessBench"/>
                            <xsd:enumeration value="SportRacket"/>
                            <xsd:enumeration value="Bicycle"/>
                            <xsd:enumeration value="SleepingBag"/>
                            <xsd:enumeration value="GolfClub"/>
                            <xsd:enumeration value="FishingHook"/>
                            <xsd:enumeration value="SleepingMat"/>
                            <xsd:enumeration value="SportMitt"/>
                            <xsd:enumeration value="UtilityHolsterPouch"/>
                            <xsd:enumeration value="SportTableGame"/>
                            <xsd:enumeration value="MessKit"/>
                            <xsd:enumeration value="RowingMachine"/>
                            <xsd:enumeration value="CyclingTire"/>
                            <xsd:enumeration value="GunHolster"/>
                            <xsd:enumeration value="SportBinding"/>
                            <xsd:enumeration value="BoxingGlove"/>
                            <xsd:enumeration value="WalkingStick"/>
                            <xsd:enumeration value="FishingReel"/>
                            <xsd:enumeration value="JumpRope"/>
                            <xsd:enumeration value="SnowboardBoot"/>
                            <xsd:enumeration value="GolfClubBag"/>
                            <xsd:enumeration value="SportWetsuit"/>
                            <xsd:enumeration value="PunchingBag"/>
                            <xsd:enumeration value="SportActivityGlove"/>
                            <xsd:enumeration value="AirPump"/>
                            <xsd:enumeration value="RollerSkate"/>
                            <xsd:enumeration value="Barbell"/>
                            <xsd:enumeration value="AbdominalExerciser"/>
                            <xsd:enumeration value="BasketballHoop"/>
                            <xsd:enumeration value="Sweatband"/>
                            <xsd:enumeration value="Snowshoe"/>
                            <xsd:enumeration value="Trampoline"/>
                            <xsd:enumeration value="AirGun"/>
                            <xsd:enumeration value="IceChest"/>
                            <xsd:enumeration value="ExerciseBand"/>
                            <xsd:enumeration value="WaterFlotationDevice"/>
                            <xsd:enumeration value="KickScooter"/>
                            <xsd:enumeration value="RecreationBall"/>
                            <xsd:enumeration value="AimingScopeSight"/>
                            <xsd:enumeration value="SportHelmet"/>
                            <xsd:enumeration value="ExerciseMat"/>
                            <xsd:enumeration value="Helmet"/>
                            <xsd:enumeration value="SwimCap"/>
                            <xsd:enumeration value="WearableWeight"/>
                            <xsd:enumeration value="HandStrengthener"/>
                            <xsd:enumeration value="SonarFathometer"/>
                            <xsd:enumeration value="Sword"/>
                            <xsd:enumeration value="Kettlebell"/>
                            <xsd:enumeration value="SelfDefenseSpray"/>
                            <xsd:enumeration value="PullUpBar"/>
                            <xsd:enumeration value="Dumbbell"/>
                            <xsd:enumeration value="TargetTossingGame"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="VariationData">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element minOccurs="0" name="Parentage">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:enumeration value="parent"/>
                                        <xsd:enumeration value="child"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="VariationTheme">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:enumeration value="AgeGenderCategory"/>
                                        <xsd:enumeration value="Amperage"/>
                                        <xsd:enumeration value="BikeRimSize"/>
                                        <xsd:enumeration value="BikeRimSizeMaterial"/>
                                        <xsd:enumeration value="BootSize"/>
                                        <xsd:enumeration value="BootSizeCalfSize"/>
                                        <xsd:enumeration value="CalfSize"/>
                                        <xsd:enumeration value="Caliber"/>
                                        <xsd:enumeration value="CaliberRounds"/>
                                        <xsd:enumeration value="Capacity"/>
                                        <xsd:enumeration value="Color"/>
                                        <xsd:enumeration value="ColorName"/>
                                        <xsd:enumeration value="ColorDesign"/>
                                        <xsd:enumeration value="ColorFlavor"/>
                                        <xsd:enumeration value="ColorItemThickness"/>
                                        <xsd:enumeration value="ColorLength"/>
                                        <xsd:enumeration value="ColorLensColor"/>
                                        <xsd:enumeration value="ColorQuantity"/>
                                        <xsd:enumeration value="ColorRounds"/>
                                        <xsd:enumeration value="ColorShaftMaterial"/>
                                        <xsd:enumeration value="ColorShaftType"/>
                                        <xsd:enumeration value="ColorShape"/>
                                        <xsd:enumeration value="ColorSize"/>
                                        <xsd:enumeration value="ColorStyle"/>
                                        <xsd:enumeration value="ColorTensionLevel"/>
                                        <xsd:enumeration value="ColorWattage"/>
                                        <xsd:enumeration value="ColorWeight"/>
                                        <xsd:enumeration value="ColorWheelSize"/>
                                        <xsd:enumeration value="ColorWidth"/>
                                        <xsd:enumeration value="Curvature"/>
                                        <xsd:enumeration value="CurvatureHand"/>
                                        <xsd:enumeration value="Design"/>
                                        <xsd:enumeration value="DesignFlavor"/>
                                        <xsd:enumeration value="DesignLength"/>
                                        <xsd:enumeration value="DesignLensColor"/>
                                        <xsd:enumeration value="DesignShaftMaterial"/>
                                        <xsd:enumeration value="DesignShaftType"/>
                                        <xsd:enumeration value="DesignShape"/>
                                        <xsd:enumeration value="DesignSize"/>
                                        <xsd:enumeration value="DesignStyle"/>
                                        <xsd:enumeration value="DesignTensionLevel"/>
                                        <xsd:enumeration value="DesignWeight"/>
                                        <xsd:enumeration value="DesignWheelSize"/>
                                        <xsd:enumeration value="DesignWidth"/>
                                        <xsd:enumeration value="Diameter"/>
                                        <xsd:enumeration value="DivingHoodThickness"/>
                                        <xsd:enumeration value="FencingPommelType"/>
                                        <xsd:enumeration value="FencingPommelTypeGripType"/>
                                        <xsd:enumeration value="Flavor"/>
                                        <xsd:enumeration value="FlavorSize"/>
                                        <xsd:enumeration value="GolfFlex"/>
                                        <xsd:enumeration value="GolfFlexGolfLoft"/>
                                        <xsd:enumeration value="GolfFlexMaterial"/>
                                        <xsd:enumeration value="GolfFlexShaftMaterial"/>
                                        <xsd:enumeration value="GolfLoft"/>
                                        <xsd:enumeration value="GolfLoftShaftMaterial"/>
                                        <xsd:enumeration value="GripSize"/>
                                        <xsd:enumeration value="GripSizeGripType"/>
                                        <xsd:enumeration value="GripSizeHeadSize"/>
                                        <xsd:enumeration value="GripType"/>
                                        <xsd:enumeration value="Hand"/>
                                        <xsd:enumeration value="HandBounceGolfFlex"/>
                                        <xsd:enumeration value="HandBounceShaftTypeGolfFlex"/>
                                        <xsd:enumeration value="HandClubGolfFlex"/>
                                        <xsd:enumeration value="HandClubShaftTypeGolfFlex"/>
                                        <xsd:enumeration value="HandGolfFlex"/>
                                        <xsd:enumeration value="HandIronsGolfFlex"/>
                                        <xsd:enumeration value="HandIronsLieAngleGolfFlex"/>
                                        <xsd:enumeration value="HandIronsLieAngleShaftTypeGolfFlex"/>
                                        <xsd:enumeration value="HandIronsShaftTypeGolfFlex"/>
                                        <xsd:enumeration value="HandLength"/>
                                        <xsd:enumeration value="HandLieAngle"/>
                                        <xsd:enumeration value="HandLieAngleGolfFlex"/>
                                        <xsd:enumeration value="HandLieAngleLength"/>
                                        <xsd:enumeration value="HandLieAngleShaftType"/>
                                        <xsd:enumeration value="HandLieAngleShaftTypeGolfFlex"/>
                                        <xsd:enumeration value="HandLieAngleShaftTypeLength"/>
                                        <xsd:enumeration value="HandGolfLoftBounceGolfFlex"/>
                                        <xsd:enumeration value="HandGolfLoftBounceShaftTypeGolfFlex"/>
                                        <xsd:enumeration value="HandGolfLoftGolfFlex"/>
                                        <xsd:enumeration value="HandGolfLoftShaftTypeGolfFlex"/>
                                        <xsd:enumeration value="HandModel"/>
                                        <xsd:enumeration value="HandModelLength"/>
                                        <xsd:enumeration value="HandModelShaftType"/>
                                        <xsd:enumeration value="HandModelShaftTypeLength"/>
                                        <xsd:enumeration value="HandShaftLength"/>
                                        <xsd:enumeration value="HandShaftMaterialGolfFlex"/>
                                        <xsd:enumeration value="HandShaftMaterialGolfFlexGolfLoft"/>
                                        <xsd:enumeration value="HandShaftType"/>
                                        <xsd:enumeration value="HandShaftTypeGolfFlex"/>
                                        <xsd:enumeration value="HandShaftTypeLength"/>
                                        <xsd:enumeration value="HandSize"/>
                                        <xsd:enumeration value="HandTensionLevel"/>
                                        <xsd:enumeration value="HandWeight"/>
                                        <xsd:enumeration value="HandWoodGolfFlex"/>
                                        <xsd:enumeration value="HandWoodShaftTypeGolfFlex"/>
                                        <xsd:enumeration value="HeadSize"/>
                                        <xsd:enumeration value="HeadSizeShape"/>
                                        <xsd:enumeration value="Height"/>
                                        <xsd:enumeration value="HeightSize"/>
                                        <xsd:enumeration value="HeightStyle"/>
                                        <xsd:enumeration value="HeightWeight"/>
                                        <xsd:enumeration value="HeightWidth"/>
                                        <xsd:enumeration value="ItemThickness"/>
                                        <xsd:enumeration value="Length"/>
                                        <xsd:enumeration value="LengthLineCapacity"/>
                                        <xsd:enumeration value="LengthLineWeight"/>
                                        <xsd:enumeration value="LengthMaterial"/>
                                        <xsd:enumeration value="LengthShaftType"/>
                                        <xsd:enumeration value="LengthSize"/>
                                        <xsd:enumeration value="LengthStyle"/>
                                        <xsd:enumeration value="LengthWeight"/>
                                        <xsd:enumeration value="LengthWeightSupported"/>
                                        <xsd:enumeration value="LengthWidth"/>
                                        <xsd:enumeration value="LensColor"/>
                                        <xsd:enumeration value="LensColorMaterial"/>
                                        <xsd:enumeration value="LensColorShape"/>
                                        <xsd:enumeration value="LineCapacity"/>
                                        <xsd:enumeration value="LineCapacitySize"/>
                                        <xsd:enumeration value="LineCapacityWeight"/>
                                        <xsd:enumeration value="LineWeight"/>
                                        <xsd:enumeration value="LineWeightSize"/>
                                        <xsd:enumeration value="Material"/>
                                        <xsd:enumeration value="MaterialShape"/>
                                        <xsd:enumeration value="MaterialSize"/>
                                        <xsd:enumeration value="MaterialStyle"/>
                                        <xsd:enumeration value="MaterialTensionLevel"/>
                                        <xsd:enumeration value="MaterialWeight"/>
                                        <xsd:enumeration value="MaterialWheelSize"/>
                                        <xsd:enumeration value="MaterialWidth"/>
                                        <xsd:enumeration value="Quantity"/>
                                        <xsd:enumeration value="QuantityShape"/>
                                        <xsd:enumeration value="QuantitySize"/>
                                        <xsd:enumeration value="QuantityWeight"/>
                                        <xsd:enumeration value="Rounds"/>
                                        <xsd:enumeration value="RoundsSize"/>
                                        <xsd:enumeration value="ShaftMaterial"/>
                                        <xsd:enumeration value="ShaftMaterialShaftType"/>
                                        <xsd:enumeration value="ShaftType"/>
                                        <xsd:enumeration value="Shape"/>
                                        <xsd:enumeration value="ShapeSize"/>
                                        <xsd:enumeration value="ShapeTensionLevel"/>
                                        <xsd:enumeration value="ShapeWeight"/>
                                        <xsd:enumeration value="Size"/>
                                        <xsd:enumeration value="SizeStyle"/>
                                        <xsd:enumeration value="SizeTensionLevel"/>
                                        <xsd:enumeration value="SizeWattage"/>
                                        <xsd:enumeration value="SizeWeight"/>
                                        <xsd:enumeration value="SizeWeightSupported"/>
                                        <xsd:enumeration value="SizeWheelSize"/>
                                        <xsd:enumeration value="SizeWidth"/>
                                        <xsd:enumeration value="StyleTensionLevel"/>
                                        <xsd:enumeration value="StyleWeight"/>
                                        <xsd:enumeration value="StyleWheelSize"/>
                                        <xsd:enumeration value="StyleWidth"/>
                                        <xsd:enumeration value="TemperatureRating"/>
                                        <xsd:enumeration value="TemperatureRatingColor"/>
                                        <xsd:enumeration value="TemperatureRatingDesign"/>
                                        <xsd:enumeration value="TemperatureRatingHand"/>
                                        <xsd:enumeration value="TemperatureRatingLength"/>
                                        <xsd:enumeration value="TemperatureRatingMaterial"/>
                                        <xsd:enumeration value="TemperatureRatingShape"/>
                                        <xsd:enumeration value="TemperatureRatingSize"/>
                                        <xsd:enumeration value="TensionLevel"/>
                                        <xsd:enumeration value="TensionLevelWeight"/>
                                        <xsd:enumeration value="TensionLevelWeightSupported"/>
                                        <xsd:enumeration value="Wattage"/>
                                        <xsd:enumeration value="Weight"/>
                                        <xsd:enumeration value="WeightSupported"/>
                                        <xsd:enumeration value="WeightWidth"/>
                                        <xsd:enumeration value="WheelSize"/>
                                        <xsd:enumeration value="WheelSizeWeight"/>
                                        <xsd:enumeration value="Width"/>
                                        <xsd:enumeration value="CustomerPackageType"/>
                                        <xsd:enumeration value="ColorName-CustomerPackageType"/>
                                        <xsd:enumeration value="SizeName-CustomerPackageType"/>
                                        <xsd:enumeration value="SizeName-ColorName-CustomerPackageType"/>
                                        <xsd:enumeration value="StyleName-CustomerPackageType"/>
                                        <xsd:enumeration value="SizeName-StyleName-CustomerPackageType"/>
                                        <xsd:enumeration value="StyleName"/>
                                        <xsd:enumeration value="SeatingGroup"/>
                                        <xsd:enumeration value="SeatingGroup-ShippingOptions"/>
                                        <xsd:enumeration value="SeatingGroup-TargetAudience"/>
                                        <xsd:enumeration value="SeatingGroup-TargetAudience-OptionType-ShippingOptions"/>
                                        <xsd:enumeration value="SeatingGroup-TargetAudience-ShippingOptions"/>
                                        <xsd:enumeration value="Size-DisplayLength"/>
                                        <xsd:enumeration value="Size-DisplayWeight"/>
										<xsd:enumeration value="Size_Name"/>
										<xsd:enumeration value="SizeName-ColorName"/>
										<xsd:enumeration value="DisplayLength-DisplayWidth"/>
										<xsd:enumeration value="Color-DisplayLength"/>
										<xsd:enumeration value="DisplayLength"/>
										<xsd:enumeration value="DisplayWeight"/>
										<xsd:enumeration value="SizeName-StyleName"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="AgeGenderCategory" type="StringNotNull"/>
                            <xsd:element minOccurs="0" name="Amperage" type="AmperageDimension"/>
                            <xsd:element minOccurs="0" name="BikeRimSize" type="LengthDimension"/>
                            <xsd:element minOccurs="0" name="BootSize" type="Dimension"/>
                            <xsd:element minOccurs="0" name="Bounce" type="StringNotNull"/>
                            <xsd:element minOccurs="0" name="CalfSize" type="StringNotNull"/>
                            <xsd:element minOccurs="0" name="Caliber" type="FourDecimal"/>
                            <xsd:element minOccurs="0" name="Capacity" type="VolumeDimension"/>
                            <xsd:element minOccurs="0" name="Club" type="StringNotNull"/>
                            <xsd:element minOccurs="0" name="Color" type="SuperLongStringNotNull"/>
                            <xsd:element minOccurs="0" name="Curvature" type="StringNotNull"/>
                            <xsd:element minOccurs="0" name="CustomerPackageType" type="StringNotNull"/>
                            <xsd:element maxOccurs="5" minOccurs="0" name="Department" type="StringNotNull"/>
                            <xsd:element minOccurs="0" name="Design" type="StringNotNull"/>
                            <xsd:element minOccurs="0" name="Diameter" type="LengthDimension"/>
                            <xsd:element minOccurs="0" name="DivingHoodThickness" type="LengthDimension"/>
                            <xsd:element minOccurs="0" name="FencingPommelType" type="StringNotNull"/>
                            <xsd:element minOccurs="0" name="Flavor" type="StringNotNull"/>
                            <xsd:element minOccurs="0" name="GolfFlex" type="StringNotNull"/>
                            <xsd:element minOccurs="0" name="GolfLoft" type="DegreeDimension"/>
                            <xsd:element minOccurs="0" name="GripSize" type="StringNotNull"/>
                            <xsd:element minOccurs="0" name="GripType" type="StringNotNull"/>
                            <xsd:element minOccurs="0" name="Hand" type="xsd:string"/>
                            <xsd:element minOccurs="0" name="HeadSize" type="StringNotNull"/>
                            <xsd:element minOccurs="0" name="Height" type="LengthDimension"/>
                            <xsd:element minOccurs="0" name="Irons" type="StringNotNull"/>
                            <xsd:element minOccurs="0" name="ItemThickness" type="LengthDimension"/>
                            <xsd:element minOccurs="0" name="Length" type="LengthDimension"/>
                            <xsd:element minOccurs="0" name="LensColor" type="StringNotNull"/>
                            <xsd:element minOccurs="0" name="LieAngle" type="StringNotNull"/>
                            <xsd:element minOccurs="0" name="LineCapacity" type="OptionalLineCapacityDimension"/>
                            <xsd:element minOccurs="0" name="LineWeight" type="StringNotNull"/>
                            <xsd:element minOccurs="0" name="Material" type="StringNotNull"/>
                            <xsd:element minOccurs="0" name="Model" type="StringNotNull"/>
                            <xsd:element minOccurs="0" name="NumberOfItems" type="xsd:positiveInteger"/>
                            <xsd:element minOccurs="0" name="Occupancy" type="StringNotNull"/>
                            <xsd:element minOccurs="0" name="Quantity" type="xsd:positiveInteger"/>
                            <xsd:element minOccurs="0" name="Rounds" type="PositiveInteger"/>
                            <xsd:element minOccurs="0" name="ShaftLength" type="LengthDimension"/>
                            <xsd:element minOccurs="0" name="ShaftMaterial" type="StringNotNull"/>
                            <xsd:element minOccurs="0" name="ShaftType" type="StringNotNull"/>
                            <xsd:element minOccurs="0" name="Shape" type="StringNotNull"/>
                            <xsd:element minOccurs="0" name="Size" type="StringNotNull"/>
                            <xsd:element minOccurs="0" name="Style" type="StringNotNull"/>
                            <xsd:element minOccurs="0" name="TemperatureRating" type="TemperatureRatingDimension"/>
                            <xsd:element minOccurs="0" name="TensionLevel" type="StringNotNull"/>
                            <xsd:element minOccurs="0" name="Volume" type="VolumeDimension"/>
                            <xsd:element minOccurs="0" name="Wattage" type="WattageDimension"/>
                            <xsd:element minOccurs="0" name="Weight" type="WeightDimension"/>
                            <xsd:element minOccurs="0" name="WeightSupported" type="WeightDimension"/>
                            <xsd:element minOccurs="0" name="WheelSize" type="LengthDimension"/>
                            <xsd:element minOccurs="0" name="Width" type="LengthDimension"/>
                            <xsd:element minOccurs="0" name="Wood" type="StringNotNull"/>
                            <xsd:element minOccurs="0" name="StyleName" type="StringNotNull"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element minOccurs="0" name="MaterialComposition" type="SuperLongStringNotNull"/>
                <xsd:element minOccurs="0" name="Packaging" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="IsCustomizable" type="xsd:boolean"/>
                <xsd:element minOccurs="0" name="CustomizableTemplateName" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="IsAdultProduct" type="xsd:boolean"/>
                <xsd:element minOccurs="0" name="ModelYear" type="FourDigitYear"/>
                <xsd:element minOccurs="0" name="Season" type="HundredString"/>
                <xsd:element minOccurs="0" name="AccessLocation" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="Action" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="ActiveIngredients" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="Alarm" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="ApparentScaleSize" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="AvailableCourses" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="BackingLineCapacity" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="BaseLength" type="LengthDimension"/>
                <xsd:element minOccurs="0" ref="Battery"/>
                <xsd:element minOccurs="0" name="BatteryAverageLife" type="PositiveDimension"/>
                <xsd:element minOccurs="0" name="BatteryAverageLifeStandby" type="PositiveDimension"/>
                <xsd:element minOccurs="0" name="BatteryChargeTime" type="PositiveDimension"/>
                <xsd:element maxOccurs="3" minOccurs="0" name="BatteryLife" type="AssemblyTimeDimension"/>
                <xsd:element minOccurs="0" name="BatteryTypeLithiumIon" type="xsd:positiveInteger"/>
                <xsd:element minOccurs="0" name="BatteryTypeLithiumMetal" type="xsd:positiveInteger"/>
                <xsd:element minOccurs="0" name="BeamWidth" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="BearingMaterialType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="BeltStyle" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="BikeWeight" type="WeightDimension"/>
                <xsd:element minOccurs="0" name="BladeGrind" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="BladeLength" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="BladeShape" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="BladeType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="BMXBikeType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="BoatFenderDiameter" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="BoilRateDescription" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="BoomLength" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="BottomStyle" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="BrakeType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="BrakeWidth" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="BreakingStrength" type="WeightDimension"/>
                <xsd:element minOccurs="0" name="BTUs" type="OptionalEnergyOutputDimension"/>
                <xsd:element minOccurs="0" name="Buildup" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="BulbType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="BurnTime" type="BurnTimeDimension"/>
                <xsd:element minOccurs="0" name="CanShipInOriginalContainer" type="xsd:boolean"/>
                <xsd:element minOccurs="0" name="Capability" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="CapType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="CareInstructions" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="CenterlineLength" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="ClosureType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="CollarType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="ColorMap" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="CompatibleDevices" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="CompatibleHoseDiameter" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="CompatibleRopeDiameter" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="Construction" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="ControlProgramName" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="CoreMaterialType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="CountryAsLabeled" type="CountryOfOriginType"/>
                <xsd:element minOccurs="0" name="CountryOfOrigin" type="CountryOfOriginType"/>
                <xsd:element minOccurs="0" name="CourseCapacity" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="CoverageArea" type="AreaDimension"/>
                <xsd:element minOccurs="0" name="CrankLength" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="CuffType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="CupSize" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="Cycles" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="DeckLength" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="DeckWidth" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="Directions" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="DisplayFeatures" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="DisplayLength" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="DisplaySize" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="DisplayType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="DisplayVolume" type="VolumeDimension"/>
                <xsd:element minOccurs="0" name="DisplayWeight" type="WeightDimension"/>
                <xsd:element minOccurs="0" name="EffectiveEdgeLength" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="EngineDisplacement">
                    <xsd:complexType>
                        <xsd:simpleContent>
                            <xsd:extension base="xsd:decimal">
                                <xsd:attribute name="unitOfMeasure">
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                            <xsd:enumeration value="CID"/>
                                            <xsd:enumeration value="l"/>
                                            <xsd:enumeration value="cc"/>
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:attribute>
                            </xsd:extension>
                        </xsd:simpleContent>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element minOccurs="0" name="EventName" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="Eye" type="xsd:positiveInteger"/>
                <xsd:element minOccurs="0" name="FabricType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="FabricWash" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="FillMaterialType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="FishingLineType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="FishType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="FittingType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="FitType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="FloorArea" type="AreaDimension"/>
                <xsd:element minOccurs="0" name="FloorLength" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="FloorWidth" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="FlyLineNumber" type="xsd:positiveInteger"/>
                <xsd:element minOccurs="0" name="FoldedLength" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="FrameHeight" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="FrameMaterial" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="FrameType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="FrequencyBand" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="FrontPleatType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="FuelCapacity" type="VolumeDimension"/>
                <xsd:element minOccurs="0" name="FuelType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="Functions" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="FurDescription" type="LongString"/>
                <xsd:element minOccurs="0" name="GearDirection" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="GeographicCoverage" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="GloveType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="GripMaterialType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="GuardMaterialType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="HandleMaterial" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="HandleType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="HeatRating" type="TemperatureRatingDimension"/>
                <xsd:element minOccurs="0" name="HP" type="Dimension"/>
                <xsd:element minOccurs="0" name="HullShape" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="IdentityPackageType">
                    <xsd:simpleType>
                        <xsd:restriction base="StringNotNull">
                            <xsd:enumeration value="bulk"/>
                            <xsd:enumeration value="frustration_free"/>
                            <xsd:enumeration value="traditional"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="ImportDesignation" type="String"/>
                <xsd:element minOccurs="0" name="ImpactForce" type="Dimension"/>
                <xsd:element minOccurs="0" name="Ingredients" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="Inseam" type="OptionalLengthIntegerDimension"/>
                <xsd:element minOccurs="0" name="InsulationType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="Intensity" type="OptionalLuminiousIntensityDimension"/>
                <xsd:element minOccurs="0" name="IsAssemblyRequired" type="xsd:boolean"/>
                <xsd:element minOccurs="0" name="ItemTypeName" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="IsSigned" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="JerseyType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="KnifeFunction" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="LampType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="LaptopCapacity" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="LashLength" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="LeagueName" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="LegStyle" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="LensMaterial" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="LensShape" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="LifeVestType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="LightIntensity" type="Dimension"/>
                <xsd:element minOccurs="0" name="LineWeight" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="LiningMaterial" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="LithiumBatteryEnergyContent" type="OptionalEnergyConsumptionDimension"/>
                <xsd:element minOccurs="0" name="LithiumBatteryPackaging">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="batteries_contained_in_equipment"/>
                            <xsd:enumeration value="batteries_only"/>
                            <xsd:enumeration value="batteries_packed_with_equipment"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="LithiumBatteryVoltage" type="OptionalVoltageDecimalDimension"/>
                <xsd:element minOccurs="0" name="LithiumBatteryWeight" type="OptionalWeightDimension"/>
                <xsd:element minOccurs="0" name="LoadCapacity" type="WeightDimension"/>
                <xsd:element minOccurs="0" name="LockType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="Loudness" type="Dimension"/>
                <xsd:element minOccurs="0" name="LureWeight" type="WeightDimension"/>
                <xsd:element minOccurs="0" name="ManufacturerDefinedQualityDescription" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="MartialArtsType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="MaximumCompatibleBootSize" type="BootSizeDimension"/>
                <xsd:element minOccurs="0" name="MaximumCompatibleRopeDiameter" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="MaximumHeight" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="MaximumInclinePercentage" type="xsd:positiveInteger"/>
                <xsd:element minOccurs="0" name="MaximumLegSize" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="MaximumMagnification" type="Dimension"/>
                <xsd:element minOccurs="0" name="MaximumPitchSpeed">
                    <xsd:complexType>
                        <xsd:simpleContent>
                            <xsd:extension base="xsd:decimal">
                                <xsd:attribute name="unitOfMeasure">
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                            <xsd:enumeration value="kilometer"/>
                                            <xsd:enumeration value="mph"/>
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:attribute>
                            </xsd:extension>
                        </xsd:simpleContent>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element minOccurs="0" name="MaximumResistance" type="WeightDimension"/>
                <xsd:element minOccurs="0" name="MaximumStrideLength" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="MaximumTensionRating" type="WeightDimension"/>
                <xsd:element minOccurs="0" name="MaximumUserWeight" type="WeightDimension"/>
                <xsd:element minOccurs="0" name="MaximumWeight" type="WeightDimension"/>
                <xsd:element minOccurs="0" name="MaxWeightRecommendation" type="WeightDimension"/>
                <xsd:element minOccurs="0" name="MechanicalStructure" type="SuperLongStringNotNull"/>
                <xsd:element minOccurs="0" name="Memory" type="MemorySizeDimension"/>
                <xsd:element minOccurs="0" name="MfrWarrantyDescriptionLabor" type="SuperLongStringNotNull"/>
                <xsd:element minOccurs="0" name="MfrWarrantyDescriptionParts" type="SuperLongStringNotNull"/>
                <xsd:element minOccurs="0" name="MfrWarrantyDescriptionType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="MinimumCompatibleBootSize" type="BootSizeDimension"/>
                <xsd:element minOccurs="0" name="MinimumCompatibleRopeDiameter" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="MinimumLegSize" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="MinimumMagnification" type="Dimension"/>
                <xsd:element minOccurs="0" name="MinimumTensionRating" type="WeightDimension"/>
                <xsd:element minOccurs="0" name="MinimumTorsoFit" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="MinimumWeightRecommendation" type="WeightDimension"/>
                <xsd:element minOccurs="0" name="MonitorFeatures" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="MotorSize" type="OptionalMotorSizeDimension"/>
                <xsd:element minOccurs="0" name="MountainBikeProportionalFrameSize" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="MountainBikeType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="MountType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="MovementType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="NeckStyle" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="NumberOfBlades" type="xsd:positiveInteger"/>
                <xsd:element minOccurs="0" name="NumberOfCarriagePositions" type="xsd:positiveInteger"/>
                <xsd:element minOccurs="0" name="NumberOfDoors" type="xsd:positiveInteger"/>
                <xsd:element minOccurs="0" name="NumberOfExercises" type="xsd:positiveInteger"/>
                <xsd:element minOccurs="0" name="NumberOfFootPositions" type="xsd:positiveInteger"/>
                <xsd:element minOccurs="0" name="NumberOfGearLoops" type="xsd:positiveInteger"/>
                <xsd:element minOccurs="0" name="NumberOfHeadPositions" type="xsd:positiveInteger"/>
                <xsd:element minOccurs="0" name="NumberOfHolds" type="xsd:positiveInteger"/>
                <xsd:element minOccurs="0" name="NumberOfHorses" type="xsd:positiveInteger"/>
                <xsd:element minOccurs="0" name="NumberOfLevels" type="xsd:positiveInteger"/>
                <xsd:element minOccurs="0" name="NumberOfLithiumIonCells" type="xsd:positiveInteger"/>
                <xsd:element minOccurs="0" name="NumberOfLithiumMetalCells" type="xsd:positiveInteger"/>
                <xsd:element minOccurs="0" name="NumberOfPages" type="xsd:positiveInteger"/>
                <xsd:element minOccurs="0" name="NumberOfPieces" type="xsd:positiveInteger"/>
                <xsd:element minOccurs="0" name="NumberOfPockets" type="xsd:positiveInteger"/>
                <xsd:element minOccurs="0" name="NumberOfPoles" type="xsd:positiveInteger"/>
                <xsd:element minOccurs="0" name="NumberOfPrograms" type="xsd:positiveInteger"/>
                <xsd:element minOccurs="0" name="NumberOfResistanceLevels" type="xsd:positiveInteger"/>
                <xsd:element minOccurs="0" name="NumberOfSpeeds" type="xsd:positiveInteger"/>
                <xsd:element minOccurs="0" name="NumberOfSprings" type="xsd:positiveInteger"/>
                <xsd:element minOccurs="0" name="ObjectiveLensSize" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="OperationMode" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="Orientation" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="OuterMaterialType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="PackedSize" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="PadType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="PatternStyle" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="PeakHeight" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="Pixels" type="OptionalResolutionDimension"/>
                <xsd:element minOccurs="0" name="PlayerName" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="PocketDescription" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="PositionAccuracy" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="PowerSource" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="PPUCount" type="xsd:decimal"/>
                <xsd:element minOccurs="0" name="PPUCountType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="ProportionalFrameSize" type="Dimension"/>
                <xsd:element minOccurs="0" name="PullType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="Range" type="StringLengthOptionalDimension"/>
                <xsd:element minOccurs="0" name="RearDerailleurCompatibleChainSize" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="RecommendedWorkoutSpace" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="ReelDiameter" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="ReelModel" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="Region" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="Resistance" type="OptionalResistanceDimension"/>
                <xsd:element minOccurs="0" name="ResistanceMechanism" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="Resolution" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="RiseStyle" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="RoadBikeProportionalFrameSize" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="RoadBikeType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="RodLength" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="RodWeight" type="WeightDimension"/>
                <xsd:element minOccurs="0" name="Routes" type="xsd:positiveInteger"/>
                <xsd:element minOccurs="0" name="R-Value" type="OptionalRValueDimension"/>
                <xsd:element minOccurs="0" name="Scale" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="ScreenColor" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="ScreenSize" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="SeatHeight" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="SeatingCapacity" type="xsd:positiveInteger"/>
                <xsd:element minOccurs="0" name="SellerWarrantyDescription" type="SuperLongStringNotNull"/>
                <xsd:element minOccurs="0" name="ShellMaterial" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="ShirtType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="ShoeWidth" type="StringLengthOptionalDimension"/>
                <xsd:element minOccurs="0" name="SizeMap" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="SkillLevel" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="SkiStyle" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="SleepingCapacity" type="xsd:positiveInteger"/>
                <xsd:element minOccurs="0" name="SleeveLength" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="SleeveType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="SnowboardStyle" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="SockHeight" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="SockStyle" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="SonarType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="SpecialFeatures" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="SpecificUsageForProduct" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="Speed" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="SpeedRating" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="Sport" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="State" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="StaticElongationPercentage" type="Dimension"/>
                <xsd:element minOccurs="0" name="StaticWeight" type="WeightDimension"/>
                <xsd:element minOccurs="0" name="StrapType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="Strength" type="WeightDimension"/>
                <xsd:element maxOccurs="5" minOccurs="0" name="StyleKeywords" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="SupportType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="SuspensionType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="TargetGender">
                    <xsd:simpleType>
                        <xsd:restriction base="StringNotNull">
                            <xsd:enumeration value="male"/>
                            <xsd:enumeration value="female"/>
                            <xsd:enumeration value="unisex"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="TargetZones" type="xsd:positiveInteger"/>
                <xsd:element minOccurs="0" name="TeamName" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="TensionSupported" type="WeightDimension"/>
                <xsd:element minOccurs="0" name="Theme" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="ThreadSize" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="TopStyle" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="TopTubeLength" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="TrailerType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="TurnRadius" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="UIAAFallRating" type="xsd:positiveInteger"/>
                <xsd:element minOccurs="0" name="UnderwireType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="UniformNumber" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="UsageCapacity" type="WeightDimension"/>
                <xsd:element minOccurs="0" name="UVProtection" type="xsd:positiveInteger"/>
                <xsd:element minOccurs="0" name="VolumeCapacityName" type="OptionalVolumeDimension"/>
                <xsd:element minOccurs="0" name="WaistSize" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="WaistWidth" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="WarmthRating" type="TemperatureRatingDimension"/>
                <xsd:element minOccurs="0" name="Warnings" type="LongStringNotNull"/>
                <xsd:element minOccurs="0" name="Warranty" type="SuperLongStringNotNull"/>
                <xsd:element minOccurs="0" name="WaterBottleCapType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="WaterResistanceRating" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="WaterType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="Wattage" type="Dimension"/>
                <xsd:element minOccurs="0" name="Watts" type="WattageDimension"/>
                <xsd:element minOccurs="0" name="WayPoints" type="xsd:positiveInteger"/>
                <xsd:element minOccurs="0" name="WeightCapacity" type="WeightDimension"/>
                <xsd:element minOccurs="0" name="WhatsInTheBox" type="SuperLongStringNotNull"/>
                <xsd:element minOccurs="0" name="WheelType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="ThreadPitch" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="DriveSystem" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="BladeMaterialType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="SportsNumberOfPockets" type="xsd:positiveInteger"/>
                <xsd:element minOccurs="0" name="WorkingLoadLimit" type="WeightDimension"/>
                <xsd:element minOccurs="0" name="WatchMovementType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="TankVolume" type="VolumeDimension"/>
                <xsd:element minOccurs="0" name="PowerRating" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="PatternType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="OutputPower" type="OutputPowerDimension"/>
                <xsd:element minOccurs="0" name="OpticalPower" type="OpticalPowerDimension"/>
                <xsd:element minOccurs="0" name="MinimumHeightRecommendation" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="ItemDiameter" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="AgeRangeDescription" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="CollectionName" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="BandSizeNumber" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="BatteryCellComposition" type="BatteryCellTypeValues"/>
                <xsd:element minOccurs="0" name="BatteryDescription" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="BatteryFormFactor" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="DistributionDesignation" type="DistributionDesignationValues"/>
                <xsd:element minOccurs="0" name="CustomerRestrictionType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="LegalComplianceCertificationMetadata" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="LegalComplianceCertificationDateOfIssue" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="LegalComplianceCertificationExpirationDate" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="Voltage" type="VoltageDecimalDimension"/>
                <xsd:element minOccurs="0" name="BaseMaterialType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="MaximumLifetimeCharges" type="PositiveInteger"/>
                <xsd:element minOccurs="0" name="BatteryPower" type="BatteryPowerIntegerDimension"/>
                <xsd:element minOccurs="0" name="CableLength" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="Codabar" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="ConnectivityTechnology" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="ContainsLiquidContents">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="true"/>
                            <xsd:enumeration value="false"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="DigitalStorageCapacity" type="MemorySizeDimension"/>
                <xsd:element minOccurs="0" name="GeotaggingOrGPSFunctionality" type="LongString"/>
                <xsd:element minOccurs="0" name="HeadSizeName" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="HumanInterfaceInput">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="keyboard"/>
                            <xsd:enumeration value="buttons"/>
                            <xsd:enumeration value="handwriting_recognition"/>
                            <xsd:enumeration value="keypad_pinyin"/>
                            <xsd:enumeration value="touch_screen_stylus_pen"/>
                            <xsd:enumeration value="trackpoint_pointing_device"/>
                            <xsd:enumeration value="keypad"/>
                            <xsd:enumeration value="touch_screen"/>
                            <xsd:enumeration value="microphone"/>
                            <xsd:enumeration value="keypad_stroke"/>
                            <xsd:enumeration value="dial"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="ItemThicknessString" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="LiningDescription" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="MagnificationStrength" type="OptionalMagnificationDimension"/>
                <xsd:element minOccurs="0" name="MemorySlotsAvailable" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="MinimumSystemRequirementDescription" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="NumberOfBoxes" type="xsd:positiveInteger"/>
                <xsd:element minOccurs="0" name="OptionType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="ArtistBiography" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="OutputWattage" type="xsd:positiveInteger"/>
                <xsd:element maxOccurs="20" minOccurs="0" name="PlatinumKeywords" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="PowerPlugType">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="type_d_3pin_in"/>
                            <xsd:enumeration value="type_m_3pin_za"/>
                            <xsd:enumeration value="type_g_3pin_uk"/>
                            <xsd:enumeration value="type_n_3pin_br"/>
                            <xsd:enumeration value="type_k_3pin_dk"/>
                            <xsd:enumeration value="type_e_2pin_fr"/>
                            <xsd:enumeration value="type_i_3pin_au"/>
                            <xsd:enumeration value="type_a_2pin_jp"/>
                            <xsd:enumeration value="type_h_3pin_il"/>
                            <xsd:enumeration value="type_c_2pin_eu"/>
                            <xsd:enumeration value="type_b_3pin_na"/>
                            <xsd:enumeration value="type_ef_2pin_eu"/>
                            <xsd:enumeration value="type_j_3pin_ch"/>
                            <xsd:enumeration value="type_l_3pin_it"/>
                            <xsd:enumeration value="type_f_2pin_de"/>
                            <xsd:enumeration value="type_b_3pin_jp"/>
                            <xsd:enumeration value="type_a_2pin_na"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="RecommendedUsesForProduct" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="RegionOfOrigin" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="Remote" type="LongString"/>
                <xsd:element minOccurs="0" name="RemovableMemory">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="xd_picture_card_m_plus"/>
                            <xsd:enumeration value="memory_stick_xc"/>
                            <xsd:enumeration value="memory_stick_duo"/>
                            <xsd:enumeration value="sdxc"/>
                            <xsd:enumeration value="microsd"/>
                            <xsd:enumeration value="multimedia_card_mobile"/>
                            <xsd:enumeration value="mmc_micro"/>
                            <xsd:enumeration value="media_card"/>
                            <xsd:enumeration value="compact_flash_type_i_or_ii"/>
                            <xsd:enumeration value="memory_stick_xc_hg_micro"/>
                            <xsd:enumeration value="memory_stick_pro"/>
                            <xsd:enumeration value="multimedia_card_plus"/>
                            <xsd:enumeration value="secure_digital"/>
                            <xsd:enumeration value="xd_picture_card"/>
                            <xsd:enumeration value="memory_stick"/>
                            <xsd:enumeration value="micro_sdxc"/>
                            <xsd:enumeration value="memory_stick_pro_duo"/>
                            <xsd:enumeration value="xd_picture_card_h"/>
                            <xsd:enumeration value="compactflash_type_ii"/>
                            <xsd:enumeration value="memory_stick_pro_hg_duo"/>
                            <xsd:enumeration value="compact_flash_card"/>
                            <xsd:enumeration value="memory_stick_micro"/>
                            <xsd:enumeration value="compactflash_type_i"/>
                            <xsd:enumeration value="micro_sdhc"/>
                            <xsd:enumeration value="mini_sdxc"/>
                            <xsd:enumeration value="smartmedia_card"/>
                            <xsd:enumeration value="memory_stick_select"/>
                            <xsd:enumeration value="memory_stick_xc_micro"/>
                            <xsd:enumeration value="multimedia_card"/>
                            <xsd:enumeration value="secure_mmc"/>
                            <xsd:enumeration value="hs_mmc"/>
                            <xsd:enumeration value="compact_disc"/>
                            <xsd:enumeration value="sdhc"/>
                            <xsd:enumeration value="mini_sdhc"/>
                            <xsd:enumeration value="xd_picture_card_m"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="SeatingGroup" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="ShaftMaterialType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="ShellType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="ShippingOptions" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="SpecialDeliveryRequirements" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="SpecificationMet" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="TargetAudienceBase" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="TotalUSBPorts" type="PositiveInteger"/>
                <xsd:element maxOccurs="5" minOccurs="0" name="TunerTechnology" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="WarrantyDescription" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="WaterResistanceLevel">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="not_water_resistant"/>
                            <xsd:enumeration value="waterproof"/>
                            <xsd:enumeration value="water_resistant"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="WeaveType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="WeeeTaxValue" type="CurencyDimension"/>
                <xsd:element minOccurs="0" name="WheelBase" type="CycleLengthDimension"/>
                <xsd:element minOccurs="0" name="WirelessTechnology" type="LongString"/>
                <xsd:element minOccurs="0" name="AcceptedVoltageFrequency">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="100v_240v_50hz_60hz"/>
                            <xsd:enumeration value="220v_240v_60hz"/>
                            <xsd:enumeration value="220v_240v_50hz"/>
                            <xsd:enumeration value="100v_120v_60hz"/>
                            <xsd:enumeration value="100v_120v_50hz"/>
                            <xsd:enumeration value="100v_240v_60hz"/>
                            <xsd:enumeration value="100v_240v_50hz"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="AdjustmentType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="AssemblyTime" type="AssemblyTimeDimension"/>
                <xsd:element minOccurs="0" name="BandWidth" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="BeltLength" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="BeltLengthString" type="TwoThousandString"/>
                <xsd:element minOccurs="0" name="BeltWidth" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="CalibrationTechnology" type="StringNotNull"/>
                <xsd:element maxOccurs="2" minOccurs="0" name="CaseMaterial" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="ClaspType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="Configuration" type="String"/>
                <xsd:element minOccurs="0" name="DurometerHardness" type="HundredString"/>
                <xsd:element minOccurs="0" name="EnergyEfficiencyRating" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="ExerciseMachineArmType">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="grip_handles"/>
                            <xsd:enumeration value="handlebars"/>
                            <xsd:enumeration value="resistance_bands"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="ExternalHardwareInterface">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="ethernet"/>
                            <xsd:enumeration value="usb"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="FishingTechnique"/>
                <xsd:element minOccurs="0" name="FulfillmentCenterSpecialStorage" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="GolfPutterLieAngle"/>
                <xsd:element minOccurs="0" name="GolfPutterLieAngleUnit">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="arc_sec"/>
                            <xsd:enumeration value="revolutions"/>
                            <xsd:enumeration value="milliradian"/>
                            <xsd:enumeration value="microradian"/>
                            <xsd:enumeration value="radians"/>
                            <xsd:enumeration value="arc_minute"/>
                            <xsd:enumeration value="degrees"/>
                            <xsd:enumeration value="turns"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="HeartRateSensorType">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="telemetry"/>
                            <xsd:enumeration value="chest_strap"/>
                            <xsd:enumeration value="hand_grip"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="IncludesRemote">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="false"/>
                            <xsd:enumeration value="true"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="IsExclusiveProduct">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="true"/>
                            <xsd:enumeration value="false"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="Offset" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="LanguageValue" type="LanguageValues"/>
                <xsd:element minOccurs="0" name="LegalComplianceCertificationRegulatoryOrganizationName" type="xsd:string"/>
                <xsd:element minOccurs="0" name="LifecycleSupplyType">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="perennial"/>
                            <xsd:enumeration value="year_round_replenishable"/>
                            <xsd:enumeration value="seasonal_basic"/>
                            <xsd:enumeration value="highly_seasonal"/>
                            <xsd:enumeration value="fashion"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="MaterialFeatures" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="MaximumSpeed" type="SpeedDimension"/>
                <xsd:element minOccurs="0" name="MaximumAgeRecommendation" type="xsd:positiveInteger"/>
                <xsd:element minOccurs="0" name="MinimumAgeRecommendation" type="xsd:positiveInteger"/>
                <xsd:element minOccurs="0" name="MinimumHeight" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="MinimumSpeed" type="SpeedDimension"/>
                <xsd:element minOccurs="0" name="LCDScreenSize" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="NumberOfSettings" type="xsd:positiveInteger"/>
                <xsd:element minOccurs="0" name="NumberOfLayers"/>
                <xsd:element minOccurs="0" name="OperatingSystem" type="String"/>
                <xsd:element minOccurs="0" name="PoleMaterialType"/>
                <xsd:element maxOccurs="5" minOccurs="0" name="Programmability" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="ReflectingTechnology"/>
                <xsd:element minOccurs="0" name="RequiredProductComplianceCertificate" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="ShaftDiameterDerived" type="PositiveInteger"/>
                <xsd:element minOccurs="0" name="ShaftHeight" type="StringLengthOptionalDimension"/>
                <xsd:element minOccurs="0" name="ShaftLengthDerived"/>
                <xsd:element minOccurs="0" name="SpaceEfficiency">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="compact"/>
                            <xsd:enumeration value="foldable"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="StrandType" type="HundredString"/>
                <xsd:element minOccurs="0" name="SupplierDeclaredMaterialRegulation">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="bamboo"/>
                            <xsd:enumeration value="wool"/>
                            <xsd:enumeration value="fur"/>
                            <xsd:enumeration value="not_applicable"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="SupportedApplication" type="StringNotNull"/>
                <xsd:element maxOccurs="5" minOccurs="0" name="InternetApplications" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="TemperatureRating" type="String"/>
                <xsd:element minOccurs="0" name="TireType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="WaterResistanceTechnology" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="WeightBenchType"/>
                <xsd:element minOccurs="0" name="WheelMaterial" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="AirFlowCapacity" type="Dimension"/>
                <xsd:element minOccurs="0" name="ChestSize" type="ClothingSizeDimension"/>
                <xsd:element minOccurs="0" name="ExtendedLength" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="FinishTypes" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="GearboxRatio" type="xsd:decimal"/>
                <xsd:element maxOccurs="3" minOccurs="0" name="GHSClassificationSubcategory" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="HandleDiameter" type="xsd:string"/>
                <xsd:element minOccurs="0" name="HandleLengthDerived" type="xsd:decimal"/>
                <xsd:element minOccurs="0" name="HandleLengthUnit">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="feet"/>
                            <xsd:enumeration value="centimeters"/>
                            <xsd:enumeration value="millimeters"/>
                            <xsd:enumeration value="decimeters"/>
                            <xsd:enumeration value="picometer"/>
                            <xsd:enumeration value="micrometer"/>
                            <xsd:enumeration value="yards"/>
                            <xsd:enumeration value="miles"/>
                            <xsd:enumeration value="meters"/>
                            <xsd:enumeration value="mils"/>
                            <xsd:enumeration value="inches"/>
                            <xsd:enumeration value="nanometer"/>
                            <xsd:enumeration value="hundredths_inches"/>
                            <xsd:enumeration value="kilometers"/>
                            <xsd:enumeration value="angstrom"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="HasAdjustableLength">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="true"/>
                            <xsd:enumeration value="false"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="HazmatException" type="TwoThousandString"/>
                <xsd:element minOccurs="0" name="HeelHeight" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="HeelType" type="String"/>
                <xsd:element minOccurs="0" name="ShoeHeightMap" type="String"/>
                <xsd:element minOccurs="0" name="InsoleMaterialType" type="SuperLongStringNotNull"/>
                <xsd:element minOccurs="0" name="IsHeatSensitive">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="true"/>
                            <xsd:enumeration value="false"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="ItemDepth" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="LeatherType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="MaximumPressure" type="PressureDimension"/>
                <xsd:element minOccurs="0" name="MidsoleMaterialType" type="xsd:string"/>
                <xsd:element minOccurs="0" name="MountingHoleDiameter" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="NumberOfDividers" type="xsd:integer"/>
                <xsd:element minOccurs="0" name="ScrewPointStyle" type="MediumString"/>
                <xsd:element minOccurs="0" name="ShaftCircumference" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="ShoeFitSize" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="ShoeSizeLegacyUnit" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="SoleMaterial" type="LongString"/>
                <xsd:element minOccurs="0" name="TargetSpecies" type="xsd:string"/>
                <xsd:element minOccurs="0" name="TireDiameter" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="ToeStyle" type="String"/>
                <xsd:element minOccurs="0" name="TreadDepth" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="TreadType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="Variety" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="WarrantyType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="WrinkleResistance">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="wrinkle_free"/>
                            <xsd:enumeration value="permanent_press"/>
                            <xsd:enumeration value="wrinkle_resistant"/>
                            <xsd:enumeration value="not_wrinkle_resistant"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="AirGunPowerType" type="xsd:string"/>
                <xsd:element minOccurs="0" name="BandColor" type="FortyStringNotNull"/>
                <xsd:element minOccurs="0" name="BandLength" type="xsd:decimal"/>
                <xsd:element minOccurs="0" name="BandLengthUnit">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="feet"/>
                            <xsd:enumeration value="centimeters"/>
                            <xsd:enumeration value="millimeters"/>
                            <xsd:enumeration value="decimeters"/>
                            <xsd:enumeration value="picometer"/>
                            <xsd:enumeration value="micrometer"/>
                            <xsd:enumeration value="yards"/>
                            <xsd:enumeration value="miles"/>
                            <xsd:enumeration value="meters"/>
                            <xsd:enumeration value="mils"/>
                            <xsd:enumeration value="inches"/>
                            <xsd:enumeration value="nanometer"/>
                            <xsd:enumeration value="hundredths_inches"/>
                            <xsd:enumeration value="kilometers"/>
                            <xsd:enumeration value="angstrom"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="BandMaterial" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="BarrelMaterialType" type="xsd:string"/>
                <xsd:element minOccurs="0" name="ChamberDepth" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="ChamberHeight" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="ChamberWidth" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="CompatibleWithVehicleType" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="Duration" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="HandleHeight" type="LengthDimension"/>
                <xsd:element minOccurs="0" name="NumberOfWheels" type="PositiveInteger"/>
                <xsd:element minOccurs="0" name="HarmonizedCode" type="HundredString"/>
                <xsd:element minOccurs="0" name="NumberOfPlayers" type="TwentyStringNotNull"/>
                <xsd:element minOccurs="0" name="RadioBandsSupported" type="StringNotNull"/>
                <xsd:element minOccurs="0" name="TaxClassificationCodeType">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="pis_cofins_list"/>
                            <xsd:enumeration value="cest"/>
                            <xsd:enumeration value="ieps"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="OptionalMotorSizeDimension">
        <xsd:simpleContent>
            <xsd:extension base="Dimension">
                <xsd:attribute name="unitOfMeasure" type="MotorSizeUnitOfMeasure" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="MotorSizeUnitOfMeasure">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="horsepower"/>
            <xsd:enumeration value="kilowatts"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="OptionalResistanceDimension">
        <xsd:simpleContent>
            <xsd:extension base="Dimension">
                <xsd:attribute name="unitOfMeasure" type="ResistanceTypeUnitOfMeasure" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="ResistanceTypeUnitOfMeasure">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="pounds"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="OptionalRValueDimension">
        <xsd:simpleContent>
            <xsd:extension base="PositiveDimension">
                <xsd:attribute name="unitOfMeasure" type="RValueUnitOfMeasure" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="RValueUnitOfMeasure">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="r_value"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="OutputPowerDimension">
        <xsd:simpleContent>
            <xsd:extension base="Dimension">
                <xsd:attribute name="unitOfMeasure" type="OutputPowerUnitOfMeasure" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="OutputPowerUnitOfMeasure">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="watts"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="OptionalEnergyConsumptionDimension">
        <xsd:simpleContent>
            <xsd:extension base="Dimension">
                <xsd:attribute name="unitOfMeasure" type="OptionalEnergyConsumptionUnitOfMeasure" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="OptionalEnergyConsumptionUnitOfMeasure">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="watt_hours"/>
            <xsd:enumeration value="kilowatts"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="OptionalEnergyOutputDimension">
        <xsd:simpleContent>
            <xsd:extension base="Dimension">
                <xsd:attribute name="unitOfMeasure" type="OptionalEnergyOutputUnitOfMeasure" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="OptionalEnergyOutputUnitOfMeasure">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="btu"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="OptionalLuminiousIntensityDimension">
        <xsd:simpleContent>
            <xsd:extension base="Dimension">
                <xsd:attribute name="unitOfMeasure" type="OptionalLuminiousIntensityUnitOfMeasure" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="OptionalLuminiousIntensityUnitOfMeasure">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="candela"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="OptionalVoltageDecimalDimension">
        <xsd:simpleContent>
            <xsd:extension base="PositiveDimension">
                <xsd:attribute name="unitOfMeasure" type="OptionalVoltageUnitOfMeasure" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="OptionalVoltageUnitOfMeasure">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="volts"/>
            <xsd:enumeration value="millivolts"/>
            <xsd:enumeration value="microvolts"/>
            <xsd:enumeration value="nanovolts"/>
            <xsd:enumeration value="kilovolts"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="OptionalWeightDimension">
        <xsd:simpleContent>
            <xsd:extension base="PositiveDimension">
                <xsd:attribute name="unitOfMeasure" type="OptionalWeightUnitOfMeasure" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="OptionalWeightUnitOfMeasure">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="GR"/>
            <xsd:enumeration value="KG"/>
            <xsd:enumeration value="OZ"/>
            <xsd:enumeration value="LB"/>
            <xsd:enumeration value="MG"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="OptionalVolumeDimension">
        <xsd:simpleContent>
            <xsd:extension base="PositiveDimension">
                <xsd:attribute name="unitOfMeasure" type="VolumeUnitOfMeasure" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="OptionalLineCapacityDimension">
        <xsd:simpleContent>
            <xsd:extension base="StringNotNull">
                <xsd:attribute name="unitOfMeasure" type="VolumeUnitOfMeasure" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
</xsd:schema>
